Babel==0.9.6
Beaker==1.6.4
FormEncode==1.2.6
Genshi==0.6
Jinja2==2.6
Mako==0.9.0
MarkupSafe==0.18
Pairtree==0.7.1-T
Paste==1.7.5.1
PasteDeploy==1.5.0
PasteScript==1.7.5
Pygments==1.6
Pylons==0.9.7
Routes==1.13
SQLAlchemy==0.9.6
Tempita==0.5.2
WebError==0.10.3
WebHelpers==1.3
WebOb==1.0.8
WebTest==1.4.3
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.20
celery==3.1.18
-e git+https://github.com/ckan/ckan.git@f478c92e3d88844d9e417d68b171e03c7e040155#egg=ckan-origin/release-v2.3
-e git+https://github.com/memaldi/ckanext-validation@5f29bbf134bfcd93125e79b6d41ed858d7edb99b#egg=ckanext_validation-master
decorator==3.4.0
fanstatic==0.12
functools32==3.2.3-2
jsonschema==2.5.1
kombu==3.0.26
lxml==3.4.4
nose==1.3.0
ofs==0.4.1
passlib==1.6.2
pbr==0.8.2
psycopg2==2.4.5
python-dateutil==1.5
pytz==2015.4
pyutilib.component.core==4.5.3
repoze.lru==0.6
repoze.who==2.0
repoze.who-friendlyform==1.0.8
requests==2.3.0
simplejson==3.3.1
six==1.7.3
solrpy==0.9.5
sqlalchemy-migrate==0.9.1
sqlparse==0.1.11
unicodecsv==0.9.4
vdm==0.13
wsgiref==0.1.2
zope.interface==4.1.1
pip==7.1.0
